[versions]
asm = "9.5"
auto-value = "1.10.1"
awaitility = "4.2.0"
bcel = "6.6.1"
bnd = "6.4.0"
bouncycastle = "1.70"
cache2k = "2.6.1.Final"
caffeine = "3.1.6"
checker-framework = "3.34.0"
checkstyle = "10.11.0"
coherence = "22.06.2"
commons-collections4 = "4.4"
commons-compress = "1.23.0"
commons-io = "2.12.0"
commons-lang3 = "3.12.0"
commons-math3 = "3.6.1"
commons-text = "1.10.0"
concurrentlinkedhashmap = "1.4.2"
config = "1.4.2"
coveralls = "2.12.2"
dependency-check = "8.2.1"
eclipse-collections = "12.0.0.M1"
ehcache3 = "3.10.8"
errorprone-core = "2.19.1"
errorprone-plugin = "3.1.0"
errorprone-support = "0.11.1"
expiring-map = "0.5.10"
fast-filter = "1.0.2"
fastutil = "8.5.12"
felix-framework = "7.0.5"
felix-scr = "2.2.6"
findsecbugs = "1.12.0"
flip-tables = "1.1.0"
forbiddenApis = "3.5.1"
google-java-format = "1.17.0"
guava = "31.1-jre"
guice = "6.0.0"
hamcrest = "2.2"
hazelcast = "5.3.0"
httpclient = "4.5.14"
jackrabbit = "1.52.0"
jackson = "2.15.1"
jacoco = "0.8.10"
jamm = "0.3.3"
java-object-layout = "0.17"
javapoet = "1.13.0"
jcache = "1.1.1"
jcommander = "1.82"
jctools = "4.0.1"
jfreechart = "1.5.4"
jmh-core = "1.36"
jmh-plugin = "0.7.1"
jmh-report = "0.9.0"
joor = "0.9.14"
json-bind = "1.0"
jsoup = "1.16.1"
jsr330 = "1"
junit-testng = "1.0.4"
junit4 = "4.13.2"
junit5 = "5.9.3"
kotlin = "1.8.21"
lincheck = "2.17"
mockito = "5.3.1"
nekohtml = "1.9.22"
nexus-publish = "1.3.0"
nullaway-core = "0.10.10"
nullaway-plugin = "1.6.0"
ohc = "0.6.1"
osgi-annotations = "1.5.1"
osgi-function = "1.2.0"
osgi-promise = "1.3.0"
pax-exam = "4.13.5"
pax-url = "2.6.13"
picocli = "4.7.3"
pmd = "7.0.0-rc2"
protobuf = "3.23.2"
slf4j = "2.0.7"
slf4j-test = "2.9.0"
snakeyaml = "2.0"
sonarqube = "4.0.0.2929"
spotbugs-contrib = "7.6.0"
spotbugs-core = "4.7.3"
spotbugs-plugin = "5.0.14"
stream = "2.9.8"
tcache = "2.0.1"
testng = "7.8.0"
truth = "1.1.3"
univocity-parsers = "2.9.1"
versions = "0.46.0"
xerces = "2.12.2"
xstream = "1.4.20"
xz = "1.9"
ycsb = "0.17.0"
zstd = "1.5.5-3"

[libraries]
asm-bom = { module = "org.ow2.asm:asm-bom", version.ref = "asm" }
auto-value-annotations = { module = "com.google.auto.value:auto-value-annotations", version.ref = "auto-value" }
auto-value-processor = { module = "com.google.auto.value:auto-value", version.ref = "auto-value" }
awaitility = { module = "org.awaitility:awaitility", version.ref = "awaitility" }
bcel = { module = "org.apache.bcel:bcel", version.ref = "bcel" }
bnd = { module = "biz.aQute.bnd:biz.aQute.bnd.gradle", version.ref = "bnd" }
bouncycastle = { module = "org.bouncycastle:bcprov-jdk15on", version.ref = "bouncycastle" }
cache2k = { module = "org.cache2k:cache2k-core", version.ref = "cache2k" }
caffeine = { module = "com.github.ben-manes.caffeine:caffeine", version.ref = "caffeine" }
checker-annotations = { module = "org.checkerframework:checker-qual", version.ref = "checker-framework" }
checkstyle = { module = "com.puppycrawl.tools:checkstyle", version.ref = "checkstyle" }
coherence-core = { module = "com.oracle.coherence.ce:coherence", version.ref = "coherence" }
commons-collections4 = { module = "org.apache.commons:commons-collections4", version.ref = "commons-collections4" }
commons-compress = { module = "org.apache.commons:commons-compress", version.ref = "commons-compress" }
commons-io = { module = "commons-io:commons-io", version.ref = "commons-io" }
commons-lang3 = { module = "org.apache.commons:commons-lang3", version.ref = "commons-lang3" }
commons-math3 = { module = "org.apache.commons:commons-math3", version.ref = "commons-math3" }
commons-text = { module = "org.apache.commons:commons-text", version.ref = "commons-text" }
concurrentlinkedhashmap = { module = "com.googlecode.concurrentlinkedhashmap:concurrentlinkedhashmap-lru", version.ref = "concurrentlinkedhashmap" }
config = { module = "com.typesafe:config", version.ref = "config" }
coveralls = { module = "gradle.plugin.org.kt3k.gradle.plugin:coveralls-gradle-plugin", version.ref = "coveralls" }
dependency-check = { module = "org.owasp:dependency-check-gradle", version.ref = "dependency-check" }
dependency-versions = { module = "com.github.ben-manes:gradle-versions-plugin", version.ref = "versions" }
eclipse-collections-testutils = { module = "org.eclipse.collections:eclipse-collections-testutils", version.ref = "eclipse-collections" }
ehcache3 = { module = "org.ehcache:ehcache", version.ref = "ehcache3" }
errorprone-annotations = { module = "com.google.errorprone:error_prone_annotations", version.ref = "errorprone-core" }
errorprone-core = { module = "com.google.errorprone:error_prone_core", version.ref = "errorprone-core" }
errorprone-mockito = { module = "org.mockito:mockito-errorprone", version.ref = "mockito" }
errorprone-plugin = { module = "net.ltgt.gradle:gradle-errorprone-plugin", version.ref = "errorprone-plugin" }
errorprone-support = { module = "tech.picnic.error-prone-support:error-prone-contrib", version.ref = "errorprone-support" }
expiring-map = { module = "net.jodah:expiringmap", version.ref = "expiring-map" }
fast-filter = { module = "io.github.fastfilter:fastfilter", version.ref = "fast-filter" }
fastutil = { module = "it.unimi.dsi:fastutil-core", version.ref = "fastutil" }
felix-framework = { module = "org.apache.felix:org.apache.felix.framework", version.ref = "felix-framework" }
felix-scr = { module = "org.apache.felix:org.apache.felix.scr", version.ref = "felix-scr" }
findsecbugs = { module = "com.h3xstream.findsecbugs:findsecbugs-plugin", version.ref = "findsecbugs" }
flip-tables = { module = "com.jakewharton.fliptables:fliptables", version.ref = "flip-tables" }
forbiddenApis = { module = "de.thetaphi:forbiddenapis", version.ref = "forbiddenApis" }
google-java-format = { module = "com.google.googlejavaformat:google-java-format", version.ref = "google-java-format" }
guava = { module = "com.google.guava:guava", version.ref = "guava" }
guava-testlib = { module = "com.google.guava:guava-testlib", version.ref = "guava" }
guice = { module = "com.google.inject:guice", version.ref = "guice" }
hamcrest = { module = "org.hamcrest:hamcrest", version.ref = "hamcrest" }
hazelcast = { module = "com.hazelcast:hazelcast", version.ref = "hazelcast" }
httpclient = { module = "org.apache.httpcomponents:httpclient", version.ref = "httpclient" }
jackrabbit = { module = "org.apache.jackrabbit:oak-core", version.ref = "jackrabbit" }
jackson-bom = { module = "com.fasterxml.jackson:jackson-bom", version.ref = "jackson" }
jacoco = { module = "org.jacoco:jacoco", version.ref = "jacoco" }
jacoco-agent = { module = "org.jacoco:org.jacoco.agent", version.ref = "jacoco" }
jacoco-ant = { module = "org.jacoco:org.jacoco.ant", version.ref = "jacoco" }
jamm = { module = "com.github.jbellis:jamm", version.ref = "jamm" }
java-object-layout = { module = "org.openjdk.jol:jol-cli", version.ref = "java-object-layout" }
javapoet = { module = "com.squareup:javapoet", version.ref = "javapoet" }
jcache = { module = "javax.cache:cache-api", version.ref = "jcache" }
jcache-guice = { module = "org.jsr107.ri:cache-annotations-ri-guice", version.ref = "jcache" }
jcache-tck = { module = "javax.cache:cache-tests", version.ref = "jcache" }
jcommander = { module = "com.beust:jcommander", version.ref = "jcommander" }
jctools = { module = "org.jctools:jctools-core", version.ref = "jctools" }
jfreechart = { module = "org.jfree:jfreechart", version.ref = "jfreechart" }
jmh-core = { module = "org.openjdk.jmh:jmh-core", version.ref = "jmh-core" }
jmh-plugin = { module = "me.champeau.jmh:jmh-gradle-plugin", version.ref = "jmh-plugin" }
jmh-report = { module = "gradle.plugin.io.morethan.jmhreport:gradle-jmh-report", version.ref = "jmh-report" }
joor = { module = "org.jooq:joor", version.ref = "joor" }
json-bind = { module = "javax.json.bind:javax.json.bind-api", version.ref = "json-bind" }
jsoup = { module = "org.jsoup:jsoup", version.ref = "jsoup" }
jsr330 = { module = "javax.inject:javax.inject", version.ref = "jsr330" }
junit4 = { module = "junit:junit", version.ref = "junit4" }
junit5 = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit5" }
junit5-bom = { module = "org.junit:junit-bom", version.ref = "junit5" }
junit5-testng = { module = "org.junit.support:testng-engine", version.ref = "junit-testng" }
junit5-vintage = { module = "org.junit.vintage:junit-vintage-engine", version.ref = "junit5" }
kotlin-bom = { module = "org.jetbrains.kotlin:kotlin-bom", version.ref = "kotlin" }
lincheck = { module = "org.jetbrains.kotlinx:lincheck-jvm", version.ref = "lincheck" }
mockito = { module = "org.mockito:mockito-core", version.ref = "mockito" }
nekohtml = { module = "net.sourceforge.nekohtml:nekohtml", version.ref = "nekohtml" }
nexus-publish = { module = "io.github.gradle-nexus:publish-plugin", version.ref = "nexus-publish" }
nullaway-core = { module = "com.uber.nullaway:nullaway", version.ref = "nullaway-core" }
nullaway-plugin = { module = "net.ltgt.gradle:gradle-nullaway-plugin", version.ref = "nullaway-plugin" }
ohc = { module = "org.caffinitas.ohc:ohc-core-j8", version.ref = "ohc" }
osgi-annotations = { module = "org.osgi:org.osgi.service.component.annotations", version.ref = "osgi-annotations" }
osgi-function = { module = "org.osgi:org.osgi.util.function", version.ref = "osgi-function" }
osgi-promise = { module = "org.osgi:org.osgi.util.promise", version.ref = "osgi-promise" }
pax-exam-container-native = { module = "org.ops4j.pax.exam:pax-exam-container-native", version.ref = "pax-exam" }
pax-exam-junit4 = { module = "org.ops4j.pax.exam:pax-exam-junit4", version.ref = "pax-exam" }
pax-exam-link-mvn = { module = "org.ops4j.pax.exam:pax-exam-link-mvn", version.ref = "pax-exam" }
pax-url-aether = { module = "org.ops4j.pax.url:pax-url-aether", version.ref = "pax-url" }
picocli = { module = "info.picocli:picocli", version.ref = "picocli" }
pmd = { module = "net.sourceforge.pmd:pmd", version.ref = "pmd" }
pmd-ant = { module = "net.sourceforge.pmd:pmd-ant", version.ref = "pmd" }
pmd-java = { module = "net.sourceforge.pmd:pmd-java", version.ref = "pmd" }
protobuf = { module = "com.google.protobuf:protobuf-java", version.ref = "protobuf" }
slf4j-jdk-platform-logging = { module = "org.slf4j:slf4j-jdk-platform-logging", version.ref = "slf4j" }
slf4j-jdk14 = { module = "org.slf4j:slf4j-jdk14", version.ref = "slf4j" }
slf4j-nop = { module = "org.slf4j:slf4j-nop", version.ref = "slf4j" }
slf4j-test = { module = "com.github.valfirst:slf4j-test", version.ref = "slf4j-test" }
snakeyaml = { module = "org.yaml:snakeyaml", version.ref = "snakeyaml" }
sonarqube = { module = "org.sonarsource.scanner.gradle:sonarqube-gradle-plugin", version.ref = "sonarqube" }
spotbugs-contrib = { module = "com.mebigfatguy.sb-contrib:sb-contrib", version.ref = "spotbugs-contrib" }
spotbugs-core = { module = "com.github.spotbugs:spotbugs", version.ref = "spotbugs-core" }
spotbugs-plugin = { module = "com.github.spotbugs.snom:spotbugs-gradle-plugin", version.ref = "spotbugs-plugin" }
stream = { module = "com.clearspring.analytics:stream", version.ref = "stream" }
tcache = { module = "com.trivago:triava", version.ref = "tcache" }
testng = { module = "org.testng:testng", version.ref = "testng" }
truth = { module = "com.google.truth:truth", version.ref = "truth" }
truth-java8 = { module = "com.google.truth.extensions:truth-java8-extension", version.ref = "truth" }
univocity-parsers = { module = "com.univocity:univocity-parsers", version.ref = "univocity-parsers" }
xerces = { module = "xerces:xercesImpl", version.ref = "xerces" }
xstream = { module = "com.thoughtworks.xstream:xstream", version.ref = "xstream" }
xz = { module = "org.tukaani:xz", version.ref = "xz" }
ycsb = { module = "site.ycsb:core", version.ref = "ycsb" }
zstd = { module = "com.github.luben:zstd-jni", version.ref = "zstd" }

[bundles]
coherence = ["coherence-core", "json-bind"]
jmh = ["jmh-core", "jmh-plugin", "jmh-report"]
junit = ["junit4", "junit5"]
junit-engines = ["junit5-vintage", "junit5-testng"]
osgi-test-compile = ["pax-exam-junit4"]
osgi-test-runtime = ["felix-framework", "felix-scr", "osgi-function",
  "osgi-promise", "pax-exam-container-native", "pax-exam-link-mvn", "pax-url-aether"]
pmd = ["pmd", "pmd-ant", "pmd-java"]
constraints = ["bcel", "bouncycastle", "commons-text", "httpclient", "jcommander",
  "jsoup", "nekohtml", "protobuf", "snakeyaml", "xerces", "xstream" ]
slf4j-jdk = ["slf4j-jdk-platform-logging", "slf4j-jdk14"]
slf4j-nop = ["slf4j-jdk-platform-logging", "slf4j-nop"]
slf4j-test = ["slf4j-jdk-platform-logging", "slf4j-test"]
truth = ["truth", "truth-java8"]

[plugins]
versions = { id = "com.github.ben-manes.versions", version.ref = "versions" }
