name: analysis
permissions: read-all
on: [ push, pull_request ]

jobs:
  analyze:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          cache: 'gradle'
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - uses: gradle/gradle-build-action@v2
      - name: Run analyzers
        run: ./.github/scripts/analyze.sh
