name: Benchmarks
permissions: {}
on:
  schedule:
    - cron: '0 0 * * 6'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  ALLOWED_ENDPOINTS: >
    api.adoptium.net:443
    api.foojay.io:443
    api.github.com:443
    caffeine.gradle-enterprise.cloud:443
    download.java.net:443
    download.oracle.com:443
    downloads.gradle.org:443
    downloads.gradle-dn.com:443
    gds.oracle.com:443
    github.com:443
    jcenter.bintray.com:443
    objects.githubusercontent.com:443
    plugins.gradle.org:443
    plugins-artifacts.gradle.org:443
    repo.maven.apache.org:443
    repo1.maven.org:443
    raw.githubusercontent.com:443
    services.gradle.org:443
    www.graalvm.org:443

jobs:
  compute:
    name: Compute
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        distribution: [ temurin ]
        include:
          - java: 25
            distribution: graalvm
          - java: 25
            distribution: semeru
          - java: 21
            distribution: dragonwell
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Compute JMH Benchmark
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: >
            caffeine:jmh
            --no-configuration-cache
            -PincludePattern=ComputeBenchmark
            -PbenchmarkParameters=computeType=Caffeine,Guava,ConcurrentHashMap
      - name: Upload Compute JMH Results to Gist
        uses: popsiclestick/gist-sync-action@88f8633178625914f2a01abf1a765f7272a580fa # v1.2.0
        if: github.event.repository.fork == false
        continue-on-error: true
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_description: Compute JMH Results
          github_file: ./caffeine/build/reports/jmh/results.json
          gist_title: compute_results_${{ matrix.distribution }}_${{ matrix.java }}.json
          gist_url: https://gist.githubusercontent.com/ben-manes/511298014cc5629cbc5e57f09fd4c430

  get-put:
    name: Get/Put
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        distribution: [ temurin ]
        include:
          - java: 25
            distribution: graalvm
          - java: 25
            distribution: semeru
          - java: 21
            distribution: dragonwell
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Get/Put JMH Benchmark
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: >
            caffeine:jmh
            --no-configuration-cache
            -PincludePattern=GetPutBenchmark
            -PbenchmarkParameters=cacheType=Caffeine,Guava,ConcurrentHashMap
      - name: Upload Get/Put JMH Results to Gist
        uses: popsiclestick/gist-sync-action@88f8633178625914f2a01abf1a765f7272a580fa # v1.2.0
        if: github.event.repository.fork == false
        continue-on-error: true
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_description: Get/Put JMH Results
          github_file: ./caffeine/build/reports/jmh/results.json
          gist_title: getput_results_${{ matrix.distribution }}_${{ matrix.java }}.json
          gist_url: https://gist.githubusercontent.com/ben-manes/b231cf57cf8e144e2247716e777edcf3

  put-remove:
    name: Put/Remove
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        distribution: [ temurin ]
        include:
          - java: 25
            distribution: graalvm
          - java: 25
            distribution: semeru
          - java: 21
            distribution: dragonwell
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Put/Remove JMH Benchmark
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: >
            caffeine:jmh
            --no-configuration-cache
            -PincludePattern=PutRemoveBenchmark
            -PbenchmarkParameters=cacheType=Caffeine,Guava,ConcurrentHashMap
      - name: Upload Put/Remove JMH Results to Gist
        uses: popsiclestick/gist-sync-action@88f8633178625914f2a01abf1a765f7272a580fa # v1.2.0
        if: github.event.repository.fork == false
        continue-on-error: true
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_description: Put/Remove JMH Results
          github_file: ./caffeine/build/reports/jmh/results.json
          gist_title: putremove_results_${{ matrix.distribution }}_${{ matrix.java }}.json
          gist_url: https://gist.githubusercontent.com/ben-manes/1359c399cb717e81976ee635c513340b

  eviction:
    name: Eviction
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        distribution: [ temurin ]
        include:
          - java: 25
            distribution: graalvm
          - java: 25
            distribution: semeru
          - java: 21
            distribution: dragonwell
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: EvictionBenchmark JMH Benchmark
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: >
            caffeine:jmh
            --no-configuration-cache
            -PincludePattern=EvictionBenchmark
            -PbenchmarkParameters=cacheType=Caffeine,Guava
      - name: Upload EvictionBenchmark JMH Results to Gist
        uses: popsiclestick/gist-sync-action@88f8633178625914f2a01abf1a765f7272a580fa # v1.2.0
        if: github.event.repository.fork == false
        continue-on-error: true
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_description: Eviction JMH Results
          github_file: ./caffeine/build/reports/jmh/results.json
          gist_title: eviction_results_${{ matrix.distribution }}_${{ matrix.java }}.json
          gist_url: https://gist.githubusercontent.com/ben-manes/2f5b54540c2e67edc0d1a7f28a1139f5

  frequency-sketch:
    name: Frequency Sketch
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        distribution: [ temurin ]
        include:
          - java: 25
            distribution: graalvm
          - java: 25
            distribution: semeru
          - java: 21
            distribution: dragonwell
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: FrequencySketch JMH Benchmark
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: >
            caffeine:jmh
            --no-configuration-cache
            -PincludePattern=FrequencySketchBenchmark
      - name: Upload FrequencySketch JMH Results to Gist
        uses: popsiclestick/gist-sync-action@88f8633178625914f2a01abf1a765f7272a580fa # v1.2.0
        if: github.event.repository.fork == false
        continue-on-error: true
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_description: FrequencySketch JMH Results
          github_file: ./caffeine/build/reports/jmh/results.json
          gist_title: freq_results_${{ matrix.distribution }}_${{ matrix.java }}.json
          gist_url: https://gist.githubusercontent.com/ben-manes/f93df1b66aa210bc23a1e672ef9bee16

  timer-wheel:
    name: Timer Wheel
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        distribution: [ temurin ]
        include:
          - java: 25
            distribution: graalvm
          - java: 25
            distribution: semeru
          - java: 21
            distribution: dragonwell
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: TimerWheelBenchmark JMH Benchmark
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: >
            caffeine:jmh
            --no-configuration-cache
            -PincludePattern=TimerWheelBenchmark
      - name: Upload TimerWheelBenchmark JMH Results to Gist
        uses: popsiclestick/gist-sync-action@88f8633178625914f2a01abf1a765f7272a580fa # v1.2.0
        if: github.event.repository.fork == false
        continue-on-error: true
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_description: TimerWheel JMH Results
          github_file: ./caffeine/build/reports/jmh/results.json
          gist_title: timerwheel_results_${{ matrix.distribution }}_${{ matrix.java }}.json
          gist_url: https://gist.githubusercontent.com/ben-manes/9abafdbc76fe34c0e63cef386b0b9ac0

  publish:
    name: Publish
    needs: [compute, get-put, put-remove, eviction, frequency-sketch, timer-wheel]
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false
    steps:
      - name: Publish JMH benchmarks
        run: |
          {
            echo '#### [Compute](https://jmh.morethan.io/?gists=511298014cc5629cbc5e57f09fd4c430)'
            echo -n 'This benchmark that evaluates the overhead due to locking when the entry is '
            echo -n 'present. The scenarios graphed are all threads retrieving a single entry '
            echo -n '("sameKey") and threads retrieving different keys based on a Zipf '
            echo -n 'distribution ("spread").'
            echo -e '\n'
            echo '#### [Get/Put](https://jmh.morethan.io/?gists=b231cf57cf8e144e2247716e777edcf3)'
            echo -n 'A benchmark that evaluates the read/write performance of a cache. The cache '
            echo -n 'is prepopulated for a 100% hit rate and a Zipf distribution of keys is used '
            echo -n 'to mimic application usage patterns.'
            echo -e '\n'
            echo '#### [Put/Remove](https://jmh.morethan.io/?gists=1359c399cb717e81976ee635c513340b)'
            echo -n 'A benchmark that evaluates the insert/update/remove performance of a cache. '
            echo -n 'A Zipf distribution of keys is used but it is unpredictable if the entry is '
            echo -n 'present given the competing operations.'
            echo -e '\n'
            echo '#### [Eviction](https://jmh.morethan.io/?gists=2f5b54540c2e67edc0d1a7f28a1139f5)'
            echo -n 'A benchmark that evaluates the evictions rate by always inserting a new entry.'
            echo -e '\n'
            echo '#### [FrequencySketch](https://jmh.morethan.io/?gists=f93df1b66aa210bc23a1e672ef9bee16)'
            echo -n 'A benchmark that evaluates the performance of a frequency sketch for use by '
            echo -n 'size eviction.'
            echo -e '\n'
            echo '#### [TimerWheel](https://jmh.morethan.io/?gists=9abafdbc76fe34c0e63cef386b0b9ac0)'
            echo -n 'A benchmark that evaluates the performance of the timer wheel for use by '
            echo -n 'variable expiration.'
          } >> $GITHUB_STEP_SUMMARY
