# Runs the test suite on arm64 to verify correctness on a weaker memory model compared to x86's
name: Build (ARM)
permissions: {}
on:
  schedule:
    - cron: '0 0 * * 3'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  ALLOWED_ENDPOINTS: >
    *.actions.githubusercontent.com:443
    api.adoptium.net:443
    api.foojay.io:443
    api.github.com:443
    caffeine.gradle-enterprise.cloud:443
    download.java.net:443
    download.oracle.com:443
    downloads.gradle.org:443
    downloads.gradle-dn.com:443
    gds.oracle.com:443
    ghcr.io:443
    github.com:443
    jdk.java.net:443
    objects.githubusercontent.com:443
    oss.sonatype.org:443
    plugins.gradle.org:443
    plugins-artifacts.gradle.org:443
    raw.githubusercontent.com:443
    repo.gradle.org:443
    repo.maven.apache.org:443
    repo1.maven.org:443
    scans-in.gradle.com:443
    services.gradle.org:443

jobs:
  setup:
    name: Setup Matrix
    runs-on: ubuntu-latest
    outputs:
      suites: ${{ steps.set-matrix.outputs.suites }}
    steps:
      - id: set-matrix
        env:
          TOTAL_SHARDS: 50
          ADDITIONAL_SUITES: |
            caffeine:eclipseTest
            caffeine:jctoolsTest
            caffeine:openjdkTest
            caffeine:apacheTest
            caffeine:googleTest
            caffeine:jsr166Test
            caffeine:moduleTest
            caffeine:osgiTest
            simulator:check
            jcache:check
            guava:check
        run: |
          SHARDS=$(seq 0 $((TOTAL_SHARDS - 1)) \
            | jq -R -c --arg count "$TOTAL_SHARDS" \
              '"caffeine:test -PshardCount=" + $count + " -PshardIndex=" + .' \
            | jq -s -c '.')
          ADDITIONAL_SUITES_JSON=$(echo "$ADDITIONAL_SUITES" \
            | jq -R -s -c 'split("\n") | map(select(length > 0))')
          COMBINED=$(echo "$SHARDS" "$ADDITIONAL_SUITES_JSON" \
            | jq -s 'add' -c)
          echo "suites=$COMBINED" >> $GITHUB_OUTPUT
          echo "$COMBINED" | jq

  tests:
    name: Tests
    timeout-minutes: 60
    runs-on: ubuntu-24.04-arm
    needs: setup
    permissions:
      contents: read
    strategy:
      matrix:
        suite: ${{ fromJson(needs.setup.outputs.suites) }}
    env:
      JAVA_VERSION: 25
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Run tests (${{ env.JAVA_VERSION }})
        uses: ./.github/actions/run-gradle
        with:
          attempt-limit: 2
          attempt-delay: 30
          java: ${{ env.JAVA_VERSION }}
          arguments: ${{ matrix.suite }} --rerun
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
