# Runs the test suite on arm64 to verify correctness on a weaker memory model compared to x86's
name: Build (ARM)
permissions: {}
on:
  schedule:
    - cron: '0 0 * * 3'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  ALLOWED_ENDPOINTS: >
    *.actions.githubusercontent.com:443
    api.adoptium.net:443
    api.foojay.io:443
    api.github.com:443
    caffeine.gradle-enterprise.cloud:443
    download.java.net:443
    download.oracle.com:443
    downloads.gradle.org:443
    downloads.gradle-dn.com:443
    gds.oracle.com:443
    ghcr.io:443
    github.com:443
    jdk.java.net:443
    objects.githubusercontent.com:443
    oss.sonatype.org:443
    plugins.gradle.org:443
    plugins-artifacts.gradle.org:443
    raw.githubusercontent.com:443
    repo.gradle.org:443
    repo.maven.apache.org:443
    repo1.maven.org:443
    scans-in.gradle.com:443
    services.gradle.org:443

jobs:
  tests:
    name: Tests
    timeout-minutes: 60
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    strategy:
      matrix:
        suite:
          - caffeine:weakKeysAndStrongValuesStatsAsyncCaffeineSlowTest
          - caffeine:weakKeysAndStrongValuesStatsSyncCaffeineSlowTest
          - caffeine:strongKeysAndWeakValuesStatsSyncCaffeineSlowTest
          - caffeine:strongKeysAndSoftValuesStatsSyncCaffeineSlowTest
          - caffeine:strongKeysAndStrongValuesStatsAsyncCaffeineTest
          - caffeine:weakKeysAndWeakValuesStatsSyncCaffeineSlowTest
          - caffeine:weakKeysAndSoftValuesStatsSyncCaffeineSlowTest
          - caffeine:strongKeysAndStrongValuesStatsSyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesStatsAsyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesStatsSyncGuavaSlowTest
          - caffeine:strongKeysAndWeakValuesStatsSyncGuavaSlowTest
          - caffeine:strongKeysAndSoftValuesStatsSyncGuavaSlowTest
          - caffeine:weakKeysAndStrongValuesStatsSyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesAsyncCaffeineSlowTest
          - caffeine:strongKeysAndWeakValuesStatsSyncCaffeineTest
          - caffeine:strongKeysAndSoftValuesStatsSyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesSyncCaffeineSlowTest
          - caffeine:strongKeysAndWeakValuesSyncCaffeineSlowTest
          - caffeine:strongKeysAndSoftValuesSyncCaffeineSlowTest
          - caffeine:weakKeysAndWeakValuesStatsSyncGuavaSlowTest
          - caffeine:weakKeysAndSoftValuesStatsSyncGuavaSlowTest
          - caffeine:strongKeysAndStrongValuesStatsSyncGuavaTest
          - caffeine:weakKeysAndWeakValuesStatsSyncCaffeineTest
          - caffeine:weakKeysAndSoftValuesStatsSyncCaffeineTest
          - caffeine:strongKeysAndStrongValuesAsyncCaffeineTest
          - caffeine:weakKeysAndWeakValuesSyncCaffeineSlowTest
          - caffeine:weakKeysAndSoftValuesSyncCaffeineSlowTest
          - caffeine:strongKeysAndStrongValuesSyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesStatsSyncGuavaTest
          - caffeine:strongKeysAndWeakValuesStatsSyncGuavaTest
          - caffeine:strongKeysAndSoftValuesStatsSyncGuavaTest
          - caffeine:weakKeysAndStrongValuesAsyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesSyncGuavaSlowTest
          - caffeine:strongKeysAndWeakValuesSyncGuavaSlowTest
          - caffeine:strongKeysAndSoftValuesSyncGuavaSlowTest
          - caffeine:weakKeysAndStrongValuesSyncCaffeineTest
          - caffeine:strongKeysAndWeakValuesSyncCaffeineTest
          - caffeine:strongKeysAndSoftValuesSyncCaffeineTest
          - caffeine:weakKeysAndWeakValuesStatsSyncGuavaTest
          - caffeine:weakKeysAndSoftValuesStatsSyncGuavaTest
          - caffeine:weakKeysAndWeakValuesSyncGuavaSlowTest
          - caffeine:weakKeysAndSoftValuesSyncGuavaSlowTest
          - caffeine:strongKeysAndStrongValuesSyncGuavaTest
          - caffeine:weakKeysAndWeakValuesSyncCaffeineTest
          - caffeine:weakKeysAndSoftValuesSyncCaffeineTest
          - caffeine:weakKeysAndStrongValuesSyncGuavaTest
          - caffeine:strongKeysAndWeakValuesSyncGuavaTest
          - caffeine:strongKeysAndSoftValuesSyncGuavaTest
          - caffeine:weakKeysAndWeakValuesSyncGuavaTest
          - caffeine:weakKeysAndSoftValuesSyncGuavaTest
          - caffeine:eclipseTest
          - caffeine:jctoolsTest
          - caffeine:openjdkTest
          - caffeine:apacheTest
          - caffeine:googleTest
          - caffeine:jsr166Test
          - caffeine:moduleTest
          - caffeine:fuzzTest
          - caffeine:osgiTest
          - caffeine:test
          - simulator:run
          - jcache:check
          - guava:check
    env:
      JAVA_VERSION: 25
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run tests (${{ env.JAVA_VERSION }})
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ env.JAVA_VERSION }}
          arguments: ${{ matrix.suite }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
