name: Build (Early Access)
permissions: {}
on:
  schedule:
    - cron: '0 0 * * 5'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  ALLOWED_ENDPOINTS: >
    *.actions.githubusercontent.com:443
    api.adoptium.net:443
    api.foojay.io:443
    api.github.com:443
    caffeine.gradle-enterprise.cloud:443
    download.java.net:443
    download.oracle.com:443
    downloads.gradle.org:443
    downloads.gradle-dn.com:443
    gds.oracle.com:443
    ghcr.io:443
    github.com:443
    jdk.java.net:443
    objects.githubusercontent.com:443
    oss.sonatype.org:443
    plugins.gradle.org:443
    plugins-artifacts.gradle.org:443
    raw.githubusercontent.com:443
    repo.gradle.org:443
    repo.maven.apache.org:443
    repo1.maven.org:443
    scans-in.gradle.com:443
    services.gradle.org:443

jobs:
  setup:
    name: Setup Matrix
    runs-on: ubuntu-latest
    outputs:
      suites: ${{ steps.set-matrix.outputs.suites }}
    steps:
      - id: set-matrix
        env:
          TOTAL_SHARDS: 64
          ADDITIONAL_SUITES: |
            caffeine:eclipseTest
            caffeine:jctoolsTest
            caffeine:openjdkTest
            caffeine:apacheTest
            caffeine:googleTest
            caffeine:jsr166Test
            caffeine:moduleTest
            caffeine:osgiTest
            simulator:check
            jcache:check
            guava:check
        run: |
          SHARDS=$(seq 0 $((TOTAL_SHARDS - 1)) \
            | jq -R -c --arg count "$TOTAL_SHARDS" \
              '"caffeine:test -PshardCount=" + $count + " -PshardIndex=" + .' \
            | jq -s -c '.')
          ADDITIONAL_SUITES_JSON=$(echo "$ADDITIONAL_SUITES" \
            | jq -R -s -c 'split("\n") | map(select(length > 0))')
          COMBINED=$(echo "$SHARDS" "$ADDITIONAL_SUITES_JSON" \
            | jq -s 'add' -c)
          echo "suites=$COMBINED" >> $GITHUB_OUTPUT
          echo "$COMBINED" | jq

  tests:
    name: Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: setup
    permissions:
      contents: read
    strategy:
      matrix:
        suite: ${{ fromJson(needs.setup.outputs.suites) }}
    env:
      JAVA_VERSION: 25
      JAVA_TEST_VERSION: 26
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Gradle
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ env.JAVA_TEST_VERSION }}-ea
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Run Tests
        env:
          ATTEMPT_LIMIT: 2
          ATTEMPT_DELAY: 30
          TEST_SUITE: ${{ matrix.suite }} --rerun
        run: |
          echo "::add-matcher::.github/problem-matcher.json"
          for ((i=1; i<="$ATTEMPT_LIMIT"; i++)); do
            ./gradlew -PearlyAccess=true \
            --warning-mode all --no-problems-report \
            -Dscan.tag.${GITHUB_WORKFLOW// /_} \
            $(eval echo "$TEST_SUITE" | tr -d '\n') && break
            if [ $i -lt "$ATTEMPT_LIMIT" ]; then
              echo "Attempt $i failed. Retrying in $ATTEMPT_DELAY seconds..."
              sleep "$ATTEMPT_DELAY"
            else
              echo "All attempts failed."
              exit 1
            fi
          done
