name: Codacy
permissions: {}
on: [ push, pull_request, workflow_dispatch ]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      actions: read # Needed for uploading security scan results
      security-events: write # Needed for uploading security scan results
    if: github.event.repository.fork == false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo-and-containers: false
          egress-policy: block
          allowed-endpoints: >
            api.codacy.com:443
            api.github.com:443
            auth.docker.io:443
            github.com:443
            golang.org:443
            objects.githubusercontent.com:443
            production.cloudflare.docker.com:443
            raw.githubusercontent.com:443
            registry-1.docker.io:443
            *.blob.core.windows.net:443
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Run Codacy Analysis
        uses: codacy/codacy-analysis-cli-action@562ee3e92b8e92df8b67e0a5ff8aa8e261919c08 # v4.4.7
        continue-on-error: true
        with:
          format: sarif
          output: /tmp/results.sarif
          gh-code-scanning-compat: true
          max-allowed-issues: 2147483647
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: /tmp/results.sarif
      - name: Remove duplicate runs
        if: steps.check_files.outputs.files_exists == 'true'
        run: jq -c '.runs |= unique_by({tool, invocations, results})' < /tmp/results.sarif > codacy.sarif
      - name: Upload Reports
        if: steps.check_files.outputs.files_exists == 'true'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          retention-days: 1
          name: SARIF file
          path: codacy.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        if: steps.check_files.outputs.files_exists == 'true'
        continue-on-error: true
        with:
          sarif_file: codacy.sarif
