name: dependency-check
on: [ push, pull_request ]
permissions: read-all

env:
  JAVA_VERSION: 17

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v3
        with:
          cache: 'gradle'
          distribution: 'zulu'
          java-version: ${{ env.JAVA_VERSION }}
      - uses: gradle/gradle-build-action@v2
      - name: Run dependency-check
        run: ./gradlew dependencyCheckAggregate
        continue-on-error: true
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v1
        continue-on-error: true
        with:
          sarif_file: build/reports/dependency-check-report.sarif
