name: OWASP Dependency-Check
permissions: {}
on:
  pull_request: {}
  push:
    branches: [master]
  schedule:
    - cron: '0 0 * * 4'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  JAVA_VERSION: 25

jobs:
  dependency-check:
    name: Dependency Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read # Needed for uploading security scan results
      security-events: write # Needed for uploading security scan results
    if: >
      github.actor != 'dependabot[bot]'
      && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork == false)
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptium.net:443
            api.foojay.io:443
            api.github.com:443
            caffeine.gradle-enterprise.cloud:443
            central.sonatype.org:443
            dependency-check.github.io:443
            downloads.gradle.org:443
            downloads.gradle-dn.com:443
            github.com:443
            jcenter.bintray.com:443
            jeremylong.github.io:443
            nvd.nist.gov:443
            objects.githubusercontent.com:443
            ossindex.sonatype.org:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            repository.sonatype.org:443
            raw.githubusercontent.com:443
            search.maven.org:443
            services.gradle.org:443
            static.nvd.nist.gov:443
            www.cisa.gov:443
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run dependency-check
        uses: ./.github/actions/run-gradle
        continue-on-error: true
        timeout-minutes: 30
        env:
          ORG_GRADLE_PROJECT_nvdApiKey: ${{ secrets.NVD_API_KEY }}
        with:
          java: ${{ env.JAVA_VERSION }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: dependencyCheckAggregate --no-configuration-cache --no-parallel
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: build/reports/dependency-check-report.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        if: steps.check_files.outputs.files_exists == 'true'
        with:
          sarif_file: build/reports/dependency-check-report.sarif
