name: Dependency Submission
on:
  push:
    branches: [master]
permissions: read-all

env:
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
  JAVA_VERSION: 19

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518
        with:
          disable-sudo: true
          egress-policy: audit
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: Wandalen/wretry.action@v1.0.36
        timeout-minutes: 5
        with:
          action: actions/setup-java@v3
          with: |
            cache: gradle
            distribution: temurin
            java-version: ${{ env.JAVA_VERSION }}
          attempt_limit: 3
          attempt_delay: 2000
      - name: Setup Gradle
        uses: Wandalen/wretry.action@v1.0.36
        timeout-minutes: 5
        with:
          action: gradle/gradle-build-action@v2
          with: |
            cache-read-only: false
            arguments: help --no-scan
            generate-job-summary: false
          attempt_limit: 3
          attempt_delay: 2000
      - name: Submit Dependency Graph
        uses: mikepenz/gradle-dependency-submission@v0.8.4
        with:
          gradle-build-module: |-
            :simulator
            :caffeine
            :jcache
            :guava
          include-build-environment: true
          sub-module-mode: INDIVIDUAL_DEEP
