name: examples
on: [ push, pull_request ]

env:
  ORG_GRADLE_PROJECT_checksumFailOn: build_finish
  ORG_GRADLE_PROJECT_checksumIgnore: false
  ORG_GRADLE_PROJECT_checksumPrint: true

jobs:
  examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 16 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - name: Cache Gradle packages
        uses: actions/cache@v2.1.4
        with:
          path: |
            ~/.gradle/wrapper
            ~/.gradle/caches
            ~/.m2
          key: ${{ runner.os }}-${{ github.job }}-${{ matrix.java }}-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: stats-metrics
        working-directory: examples/stats-metrics
        run: ./gradlew test
      - name: write-behind-rxjava
        working-directory: examples/write-behind-rxjava
        run: mvn test
      - name: coalescing-bulkloader
        working-directory: examples/coalescing-bulkloader
        run: mvn test
