name: Validate Gradle Wrapper
on: [push, pull_request]
permissions: read-all

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518
        with:
          disable-sudo: true
          egress-policy: audit
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1.0.5
