name: JCStress
permissions: {}
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  ALLOWED_ENDPOINTS: >
    api.adoptium.net:443
    api.foojay.io:443
    api.github.com:443
    caffeine.gradle-enterprise.cloud:443
    downloads.gradle.org:443
    downloads.gradle-dn.com:443
    github.com:443
    jcenter.bintray.com:443
    objects.githubusercontent.com:443
    plugins.gradle.org:443
    plugins-artifacts.gradle.org:443
    repo.maven.apache.org:443
    repo1.maven.org:443
    services.gradle.org:443

jobs:
  jcstress:
    name: JCStress
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        java: [ 11, 25, 26-ea ]
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
    env:
      JAVA_VERSION: ${{ matrix.java }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          allowed-endpoints: ${{ env.ALLOWED_ENDPOINTS }}
          disable-sudo-and-containers: true
          egress-policy: block
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: JCStress
        uses: ./.github/actions/run-gradle
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          java: ${{ env.JAVA_VERSION }}
          arguments: jcstress
