name: Qodana
permissions: read-all
on: [ push, pull_request ]

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  JAVA_VERSION: 11

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      actions: read
      contents: read
      security-events: write
    if: >
      github.actor != 'dependabot[bot]'
      && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork == false)
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptium.net:443
            api.foojay.io:443
            api.github.com:443
            auth.docker.io:443
            caffeine.gradle-enterprise.cloud:443
            checkerframework.org:443
            docs.oracle.com:443
            download.jetbrains.com:443
            download-cdn.jetbrains.com:443
            downloads.gradle.org:443
            downloads.gradle-dn.com:443
            errorprone.info:443
            github.com:443
            guava.dev:443
            jcenter.bintray.com:443
            lightbend.github.io:443
            objects.githubusercontent.com:443
            packages.jetbrains.team:443
            pkg-cdn.jetbrains.team:443
            plugins.gradle.org:443
            plugins.jetbrains.com:443
            plugins-artifacts.gradle.org:443
            prod.fus.aws.intellij.net:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.gradle.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            resources.jetbrains.com:443
            services.gradle.org:443
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Build
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ env.JAVA_VERSION }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          arguments: check -x test
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@31d6f3309b31c566758e1314a3d9ef0dff75ecbd # v2024.2.6
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          upload-result: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        uses: github/codeql-action/upload-sarif@662472033e021d55d94146f66f6058822b0b39fd # v3.27.0
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
