name: Qodana
permissions: read-all
on: [ push, pull_request ]

env:
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
  JAVA_VERSION: 11

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f # v2.3.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            caffeine.gradle-enterprise.cloud:443
            checkerframework.org:443
            docs.oracle.com:443
            errorprone.info:443
            github.com:443
            guava.dev:443
            jcenter.bintray.com:443
            lightbend.github.io:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            plugins.jetbrains.com:443
            plugins-artifacts.gradle.org:443
            prod.fus.aws.intellij.net:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            resources.jetbrains.com:443
            services.gradle.org:443
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: Wandalen/wretry.action@e6cf3db7de3777ba5f999f903c2f4efdd9ac7288 # v1.0.36
        timeout-minutes: 5
        with:
          action: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
          with: |
            distribution: temurin
            java-version: ${{ env.JAVA_VERSION }}
          attempt_limit: 3
          attempt_delay: 2000
      - name: Setup Gradle
        uses: Wandalen/wretry.action@e6cf3db7de3777ba5f999f903c2f4efdd9ac7288 # v1.0.36
        timeout-minutes: 5
        with:
          action: gradle/gradle-build-action@6095a76664413da4c8c134ee32e8a8ae900f0f1f # v2.4.0
          with: |
            cache-read-only: false
            arguments: help --no-scan
            generate-job-summary: false
          attempt_limit: 3
          attempt_delay: 2000
      - name: Build
        run: ./gradlew build -x test
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@e04c1d05b18f0de5123491eeb4e7fb55b259a9ac # v2022.3.4
      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        uses: github/codeql-action/upload-sarif@d186a2a36cc67bfa1b860e6170d37fb9634742c7 # v2.2.11
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
