name: Qodana
permissions: {}
on:
  pull_request: {}
  push:
    branches: [master]
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  JAVA_VERSION: 25

jobs:
  qodana:
    name: Qodana
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write # Needed to annotate commit
      actions: read # Needed for uploading security scan results
      security-events: write # Needed for uploading security scan results
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptium.net:443
            api.foojay.io:443
            api.github.com:443
            auth.docker.io:443
            caffeine.gradle-enterprise.cloud:443
            docs.oracle.com:443
            download.jetbrains.com:443
            download-cdn.jetbrains.com:443
            downloads.gradle.org:443
            downloads.gradle-dn.com:443
            errorprone.info:443
            github.com:443
            guava.dev:443
            jcenter.bintray.com:443
            jspecify.dev:443
            lightbend.github.io:443
            objects.githubusercontent.com:443
            packages.jetbrains.team:443
            pkg-cdn.jetbrains.team:443
            plugins.gradle.org:443
            plugins.jetbrains.com:443
            plugins-artifacts.gradle.org:443
            prod.fus.aws.intellij.net:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.gradle.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            resources.jetbrains.com:443
            services.gradle.org:443
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Build
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ env.JAVA_VERSION }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@42dad391966aca8ca344ca2340a7f43a5507e9b2 # v2025.3.1
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          use-caches: false
          upload-result: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
