name: Snyk
permissions: {}
on:
  push:
    branches: [master, v2.dev, v3.dev]
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
  JAVA_VERSION: 21

jobs:
  snyk:
    name: Snyk
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read # Needed for uploading security scan results
      security-events: write # Needed for uploading security scan results
    container:
      # Incompatible with Harden Runner
      image: snyk/snyk:gradle-9-jdk24
      env:
        SNYK_INTEGRATION_VERSION: gradle-9-jdk24
        SNYK_INTEGRATION_NAME: GITHUB_ACTIONS
        FORCE_COLOR: 2
    if: github.event.repository.fork == false
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Gradle
        uses: ./.github/actions/run-gradle
        with:
          java: ${{ env.JAVA_VERSION }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Run Snyk test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        continue-on-error: true
        run: snyk test --sarif-file-output=results.sarif --all-sub-projects -- --no-configuration-cache
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: results.sarif
      - name: Install jq
        run: apt-get update && apt-get install -y jq
      - name: Merge project runs
        run: |
          jq '
            {
              "$schema": ."$schema",
              "version": .version,
              "runs": [
                {
                  "tool": {
                    "driver": {
                      name: .runs[0].tool.driver.name,
                      semanticVersion: .runs[0].tool.driver.semanticVersion,
                      version: .runs[0].tool.driver.version,
                      informationUri: .runs[0].tool.driver.informationUri,
                      properties: .runs[0].tool.driver.properties,
                      rules: (
                        [ .runs[].tool.driver.rules // [] ]
                        | add
                        | unique_by(.id)
                      )
                    }
                  },
                  "results": (
                    [ .runs[].results // [] ]
                    | add
                  )
                }
              ]
            }
          ' results.sarif > snyk.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        if: steps.check_files.outputs.files_exists == 'true'
        with:
          sarif_file: snyk.sarif
      - name: Run Snyk monitor
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        continue-on-error: true
        run: snyk monitor --all-sub-projects -- --no-configuration-cache
