name: snyke
on:
  push:
    branches: [master, v2.dev, v3.dev]
permissions: read-all

env:
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
  JAVA_VERSION: 18

jobs:
  snyke:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813
        with:
          egress-policy: audit
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: Wandalen/wretry.action@v1.0.20
        with:
          action: actions/setup-java@v3
          with: |
            distribution: temurin
            java-version: ${{ env.JAVA_VERSION }}
          attempt_limit: 3
          attempt_delay: 2000
      - name: Setup Gradle
        uses: Wandalen/wretry.action@v1.0.20
        with:
          action: gradle/gradle-build-action@v2
          with: |
            arguments: help --no-scan
          attempt_limit: 3
          attempt_delay: 2000
      - name: Run Snyk test
        continue-on-error: true
        run: ./gradlew snyk-test
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v2
        continue-on-error: true
        with:
          sarif_file: snyk.sarif
      - name: Run Snyk monitor
        continue-on-error: true
        run: ./gradlew snyk-monitor
