name: snyk
on:
  push:
    branches: [master, v2.dev, v3.dev]
permissions: read-all

env:
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.GRADLE_ENTERPRISE_CACHE_PASSWORD }}
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
  JAVA_VERSION: 20

jobs:
  snyk:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6b3083af2869dc3314a0257a42f4af696cc79ba3 # v2.3.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptium.net:443
            api.github.com:443
            api.snyk.io:443
            caffeine.gradle-enterprise.cloud:443
            downloads.gradle-dn.com:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            services.gradle.org:443
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Run Snyk test
        uses: ./.github/actions/run-gradle
        continue-on-error: true
        with:
          java: ${{ env.JAVA_VERSION }}
          arguments: snyk-test -PsnykArgs="--sarif-file-output=snyk.sarif" --no-configuration-cache
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@20b4d2e596410855db8f9ca21e96fbe18e12930b # v2.0.0
        with:
          files: snyk.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@7df0ce34898d659f95c0c4a09eaa8d4e32ee64db # v2.2.12
        if: steps.check_files.outputs.files_exists == 'true'
        with:
          sarif_file: snyk.sarif
      - name: Run Snyk monitor
        uses: ./.github/actions/run-gradle
        continue-on-error: true
        with:
          java: ${{ env.JAVA_VERSION }}
          arguments: snyk-monitor --no-configuration-cache
