name: Spelling
permissions: {}
on: [ push, pull_request, workflow_dispatch ]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  misspell:
    name: Misspell
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write # Needed to annotate commit
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Misspell
        uses: reviewdog/action-misspell@d6429416b12b09b4e2768307d53bef58d172e962 # v1.27.0
        with:
          reporter: github-check
          exclude: ./.github/actions/spelling/*
          github_token: ${{ secrets.GITHUB_TOKEN }}

  check-spelling:
    name: Check Spelling
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed for uploading security scan results
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: false
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            github.com:443
            raw.githubusercontent.com:443
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: check-spelling
        uses: check-spelling/check-spelling@c635c2f3f714eec2fcf27b643a1919b9a811ef2e # v0.0.25
        with:
          use_sarif: ${{ (!github.event.pull_request || (github.event.pull_request.head.repo.full_name == github.repository)) && 1 }}
          suppress_push_for_open_pull_request: ${{ github.actor != 'dependabot[bot]' && 1 }}
          spell_check_this: check-spelling/spell-check-this@main
          experimental_apply_changes_via_bot: 1
          check_file_names: 1
          use_magic_file: 1
          report-timing: 1
          post_comment: 0
          warnings: >
            bad-regex, binary-file, deprecated-feature, ignored-expect-variant, large-file,
            limited-references, no-newline-at-eof, noisy-file, non-alpha-in-dictionary,
            token-is-substring, unexpected-line-ending, whitespace-in-dictionary, minified-file,
            unsupported-configuration, no-files-to-check, unclosed-block-ignore-begin,
            unclosed-block-ignore-end
          dictionary_source_prefixes: >
            {
            "cspell": "https://raw.githubusercontent.com/check-spelling/cspell-dicts/v20241114/dictionaries/"
            }
          check_extra_dictionaries: ""
          extra_dictionaries: |
            cspell:software-terms/softwareTerms.txt
            cspell:java/java.txt
            cspell:filetypes/filetypes.txt
            cspell:fullstack/fullstack.txt
            cspell:aws/aws.txt
            cspell:shell/shell-all-words.txt
            cspell:npm/npm.txt
            cspell:java/java-terms.txt
            cspell:dart/dart.txt
            cspell:scala/scala.txt
            cspell:php/php.txt
            cspell:python/python/python-lib.txt
            cspell:golang/go.txt
            cspell:rust/rust.txt
            cspell:dotnet/dotnet.txt
            cspell:cpp/ecosystem.txt
            cspell:python/common/extra.txt

  typos:
    name: Typos
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Typos
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06 # v1.40.0
