name: spelling
permissions: read-all
on: [ push, pull_request ]

jobs:
  spellcheck:
    name: Check spelling
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Install
        run: wget -O - -q https://raw.githubusercontent.com/client9/misspell/master/install-misspell.sh | sh -s -- -b .
      - name: Spell Check with Misspell
        run: ./misspell -error .
      - name: Spell Check with Typos
        uses: crate-ci/typos@27c9fe7c7948486ff5013a8a5a5c7f0587323f18 # v2.2.12
