name: Spelling
permissions: {}
on: [ push, pull_request ]

jobs:
  misspell:
    name: Misspell
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Misspell
        uses: reviewdog/action-misspell@9daa94af4357dddb6fd3775de806bc0a8e98d3e4 # v1.26.3
        with:
          reporter: github-check
          github_token: ${{ secrets.GITHUB_TOKEN }}

  check-spelling:
    name: Check Spelling
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo-and-containers: false
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            github.com:443
            raw.githubusercontent.com:443
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: check-spelling
        uses: check-spelling/check-spelling@c635c2f3f714eec2fcf27b643a1919b9a811ef2e # v0.0.25
        with:
          use_sarif: ${{ (!github.event.pull_request || (github.event.pull_request.head.repo.full_name == github.repository)) && 1 }}
          suppress_push_for_open_pull_request: ${{ github.actor != 'dependabot[bot]' && 1 }}
          spell_check_this: check-spelling/spell-check-this@main
          experimental_apply_changes_via_bot: 1
          check_file_names: 1
          use_magic_file: 1
          report-timing: 1
          post_comment: 0
          warnings: >
            bad-regex, binary-file, deprecated-feature, ignored-expect-variant, large-file,
            limited-references, no-newline-at-eof, noisy-file, non-alpha-in-dictionary,
            token-is-substring, unexpected-line-ending, whitespace-in-dictionary, minified-file,
            unsupported-configuration, no-files-to-check, unclosed-block-ignore-begin,
            unclosed-block-ignore-end
          dictionary_source_prefixes: >
            {
            "cspell": "https://raw.githubusercontent.com/check-spelling/cspell-dicts/v20241114/dictionaries/"
            }
          check_extra_dictionaries: ""
          extra_dictionaries: |
            cspell:software-terms/softwareTerms.txt
            cspell:java/java.txt
            cspell:filetypes/filetypes.txt
            cspell:fullstack/fullstack.txt
            cspell:aws/aws.txt
            cspell:shell/shell-all-words.txt
            cspell:npm/npm.txt
            cspell:java/java-terms.txt
            cspell:dart/dart.txt
            cspell:scala/scala.txt
            cspell:php/php.txt
            cspell:python/python/python-lib.txt
            cspell:golang/go.txt
            cspell:rust/rust.txt
            cspell:dotnet/dotnet.txt
            cspell:cpp/ecosystem.txt
            cspell:python/common/extra.txt

  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Typos
        uses: crate-ci/typos@a9ccf76b53d1ace194871d216f9ff058599a86db # v1.35.1
